# Streamlit and UI
streamlit==1.26.0
pandas==2.1.1
numpy==1.26.2

# PDF/DOCX Parsing
python-docx==0.8.11
pdfplumber==0.10.1
PyMuPDF==1.23.1

# Text Processing & NLP
spacy==3.6.1
fuzzywuzzy==0.18.0
python-Levenshte
